{% extends 'base.html' %}

{% block content %}

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar site-navbar-target bg-secondary shadow" role="banner">
        {% include 'navbar.html' %}
      </header>

    <div class="owl-carousel-wrapper">
      <div class="box-92819">
        <h1 class="text-white mb-3">Donate blood and save a life</h1>
        <p><a href="{{url_for('add')}}" class="btn btn-danger py-3 px-4 rounded-0">Donate Now</a></p>
      </div>

      <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/blood-1.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/hero_1.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/image2.jpeg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/hero_3.jpg');"></div>
        
      </div>
    </div>
    

    <div class="container">
      <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a href="#" class="feature-29192 overlay-danger" style="background-image: url('../static/images/image3.jpeg');">
          <div class="text">
            <span class="meta">Child</span>
            <h3 class="text-cursive text-white h1">Save the children</h3>
          </div>
        </a>

        <a class="feature-29192 overlay-success" style="background-image: url('../static/images/img_2_gray.jpg');">
          <div class="text">
            <span class="meta">Health</span>
            <h3 class="text-cursive text-white h1">Natural Remedies</h3>
          </div>
        </a>

        <div class="feature-29192 overlay-warning" style="background-image: url('../static/images/image7.jpeg');">
          <div class="text">
            <span class="meta">Mother</span>
            <h3 class="text-cursive text-white h1">Save the mothers</h3>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5 align-items-st">
          <div class="col-md-4">
            <div class="heading-20219">
              <h2 class="title text-cursive">Donors list</h2>
            </div>
          </div>
</div>

<div class="row">
  {% for donor in donors %}
  <div class="col-md-4">
    <div class="cause shadow-sm">
      <a href="#" class="cause-link d-block">
        {% if donor.profile_pic %}
        <img src="{{url_for('static', filename='assets/profile_img/' + donor.profile_pic)}}" alt="Image" class="img-fluid"
          style="width: 100%; height: 300px;">
        {% endif %}
        <div class="custom-progress-wrap">
          <div class="custom-progress-inner">
            <div class="custom-progress bg-danger" style="width: 100%;"></div>
            </div>
            </div>
            </a>

      <p>{{ donor.username }}</p>
      <div class="px-3 pt-3 border-top-0 border border shadow-sm">
        <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Donated</span>
        <p>{{ donor.email }}</p>
        </div>
        
        </div>
        </div>
        {% endfor %}

</div>
    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Hopeless, Poor, and Hurtings people who are in need of urgent blood transfussion</h2></div>
              <div class="ml-auto"><a href="{{url_for('add')}}" class="btn btn-primary">Donate Now</a></div>
            </div>
      </div>
    </div>
    </div>
  </body>
  {% endblock content %}
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock footer %}
</html>
