{% extends 'base.html' %}

{% block content %}

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar site-navbar-target bg-secondary shadow" role="banner">
        {% include 'navbar.html' %}
      </header>

    <div class="owl-carousel-wrapper">
      <div class="box-92819">
        <h1 class="text-white mb-3">Donate blood and save a life</h1>
        <p><a href="{{url_for('add')}}" class="btn btn-danger py-3 px-4 rounded-0">Donate Now</a></p>
      </div>

      <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/blood-1.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/hero_1.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/image2.jpeg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('../static/images/hero_3.jpg');"></div>
        
      </div>
    </div>
    

    <div class="container">
      <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a href="#" class="feature-29192 overlay-danger" style="background-image: url('../static/images/image3.jpeg');">
          <div class="text">
            <span class="meta">Child</span>
            <h3 class="text-cursive text-white h1">Save the children</h3>
          </div>
        </a>

        <a class="feature-29192 overlay-success" style="background-image: url('../static/images/img_2_gray.jpg');">
          <div class="text">
            <span class="meta">Health</span>
            <h3 class="text-cursive text-white h1">Natural Remedies</h3>
          </div>
        </a>

        <div class="feature-29192 overlay-warning" style="background-image: url('../static/images/image7.jpeg');">
          <div class="text">
            <span class="meta">Mother</span>
            <h3 class="text-cursive text-white h1">Save the mothers</h3>
          </div>
        </div>

      </div>
    </div>
    
  <div class="container">
        <div class="row align-items-center">
          <div class="col-25">
            <div class=" d-flex ">
              <div class="m-3 ">
                <h2 class="text-cursive text-center">Blood donation?</h2>
                <p class="text-center" >Blood donation is a noble act that involves giving a part of ourselves to save the lives of others. This
                  selfless act of donating blood has a profound impact on individuals, families, and society as a whole. It
                  serves as a lifeline for those in critical need, providing a vital resource that cannot be manufactured or
                  substituted.
                </p>
              </div>
            </div>
          </div>

          <div class="col-25">
            <div class=" d-flex ">
              <div class="m-3 ">
                <h2 class="text-cursive text-center">Why Choose to donate blood?</h2>
                <p class="text-center">
                  Blood transfusion is a fundamental aspect of modern healthcare, playing a crucial role in emergency situations such as
                  accidents, surgeries, and natural disasters. The availability of an adequate blood supply is essential to ensure prompt
                  and efficient medical care. By donating blood, individuals contribute to building a sufficient stockpile of blood
                  products, making it possible to meet the urgent needs of patients, especially those requiring immediate transfusions to
                  sustain their lives..
              </div>
            </div>
          </div>
        </div>
  </div>    
   <div class="bg-image overlay-primary site-section" style="background-image: url('../static/images/hero_1.jpg');">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-25">
            <div class="row mb-5">
              <div class="col-md-7">
                <div class="heading-20219">
                  <h2 class="title text-white mb-4 text-cursive">Some importance of donating blood</h2>
                  <p class="text-white">By donating blood, individuals contribute to building a sufficient stockpile of blood products, making it possible to meet the urgent needs of patients, especially those requiring immediate transfusions to sustain their lives.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>1</span></div>
                  <div>
                    <h3>Meeting Emergency Needs</h3>
                    <p> Blood transfusion is a fundamental aspect of modern healthcare, playing a crucial role in emergency situations such as accidents, surgeries, and natural disasters. The availability of an adequate blood supply is essential to ensure prompt and efficient medical care. By donating blood, individuals contribute to building a sufficient stockpile of blood products, making it possible to meet the urgent needs of patients, especially those requiring immediate transfusions to sustain their lives.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>2</span></div>
                  <div>
                    <h3>Saving Lives</h3>
                    <p>Blood donation is a direct and tangible way to save lives. Every unit of donated blood has the potential to impact multiple patients, as it can be separated into different components such as red blood cells, platelets, and plasma. Each of these components serves specific medical purposes and can be utilized to treat a wide range of conditions, including anemia, cancer, blood disorders, and other life-threatening diseases. By giving the gift of blood, donors become silent heroes, providing hope and a chance at survival to countless individuals in need.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>3</span></div>
                  <div>
                    <h3>Enhancing Community Health</h3>
                    <p>Blood donation promotes community health and well-being. Regular blood donations not only address immediate needs but also help build a reliable and sustainable blood supply. By encouraging more people to donate, communities can establish a robust network of donors who are readily available to contribute in times of crisis. Moreover, the process of donating blood involves a thorough screening of donors, ensuring that they are in good health and free from infectious diseases. This practice helps identify potential health issues in donors early on, promoting healthier lifestyles and disease prevention within the community.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>4</span></div>
                  <div>
                    <h3>Fostering Social Responsibility and Unity</h3>
                    <p>Blood donation is an act that transcends boundaries and unites people from all walks of life. It is a testament to the collective responsibility and compassion we have towards one another. By actively participating in blood donation drives or campaigns, individuals contribute to the welfare of society, demonstrating their commitment to helping others and creating a positive impact in their communities. Furthermore, the act of giving blood fosters a sense of unity and solidarity among donors, healthcare professionals, and recipients, reinforcing the bonds that hold society together.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
   
   
    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5 align-items-st">
          <div class="col-md-4">
            <div class="heading-20219">
              <h2 class="title text-cursive">Donors' reviews</h2>
            </div>
          </div>
          <div class="col-md-8">
            <p>These are what some of our top donors has to say about us.</p>
          </div>
        </div>

        <div class="row">
			{% for review in reviews %}
          <div class="col-md-4 " >
              <div class="cause shadow-sm ">
              
                <a href="#" class="cause-link d-block">
					{% if review.review_img %}
                  <img src="{{url_for('static', filename='assets/post_img/' + review.review_img)}}" alt="Image" class="img-fluid">
                  {% endif %}
                  <div class="custom-progress-wrap">
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-danger" style="width: 100%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                  <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Donated</span>
                  <p >{{ review.content }}</p>
             
                  <div class="py-4">
                    <div class="d-flex align-items-center">
						{% if review.reviewer.profile_pic %}
                      <img src="{{url_for('static', filename='assets/profile_img/' + review.reviewer.profile_pic)}}" alt="Image" class="rounded-circle mr-3" width="50">
                      {% endif %}
                      <div class="">{{review.reviewer.username }}</div>
                    </div>
                  </div>
                </div>
              
              </div>
          </div>
          {% endfor %}

        </div>


      </div>
    </div>

    <div class="bg-image overlay site-section" style="background-image: url('../static/images/hero_1.jpg');">
      <div class="container">

        <div class="row align-items-center">
            <div class="col-12">
    <div class="row mb-5">
      <div class="col-md-7">
        <div class="heading-20219">
          <h2 class="title text-white mb-4 text-cursive">Why Choose Us</h2>
          <p class="text-white">At BloodBank, we are dedicated to making a difference in people's lives through blood donation. Here's why you should choose us:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="feature-29012 d-flex">
          <div class="number mr-4"><span>1</span></div>
          <div>
            <h3>Easy and Convenient</h3>
            <p>We make the blood donation process easy and convenient for you. Our donation centers are strategically located and offer flexible operating hours to accommodate your schedule.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="feature-29012 d-flex">
          <div class="number mr-4"><span>2</span></div>
          <div>
            <h3>Safe and Hygienic</h3>
            <p>Your safety is our top priority. We follow strict sterilization protocols and ensure that all equipment used during the donation process is safe and hygienic.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="feature-29012 d-flex">
          <div class="number mr-4"><span>3</span></div>
          <div>
            <h3>Impactful Contributions</h3>
            <p>By donating blood with us, you can make a significant impact on saving lives. Your donation can help patients in need of transfusions and contribute to the overall well-being of the community.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="feature-29012 d-flex">
          <div class="number mr-4"><span>4</span></div>
          <div>
            <h3>Compassionate Care</h3>
            <p>We provide compassionate care throughout the donation process. Our experienced staff ensures your comfort and addresses any concerns or questions you may have.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>

    </div>

    <div class="site-section">
      <div class="container">
        <div class="heading-20219 mb-5">
          <h2 class="title text-cursive">Upcoming Events</h2>
        </div>
        <div class="row">
 {% for event in events %}
          <div class="col-md-6">
            <div class="event-29191 mb-5">
              <a href="#" class="d-block mb-3">
                {% if event.event_img %}
                <img src="{{ url_for('static', filename='assets/post_img/' + event.event_img ) }}" style="width:100%; height:300px;" alt="Image" class="img-fluid rounded">
                </a>
                {% endif %}
              <div class="px-3 d-flex">

                <div class="bg-danger p-3 d-inline-block text-center rounded mr-4 date">
                  
                  <span class="text-white small"><span class="icon-calender mr-2 text-muted"></span>{{event.date}}</span>
                </div>

                <div>
                  <div class="mb-3">
                    <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>{{event.time}}</span>
                    <span> <span class="icon-room mr-2 text-muted"></span>{{event.location}}</span>
                  </div>
                  <h3><a href="single.html">{{event.title}}</a></h3>
                <p><a href="{{url_for('event', event_id=event.id)}}" class="btn btn-primary py-3 px-4 rounded-0">Attend Event</a></p>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
        </div>
      </div>
    </div>
    
    
    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Hopeless, Poor, and Hurtings people who are in need of urgent blood transfussion</h2></div>
              <div class="ml-auto"><a href="{{url_for('add')}}" class="btn btn-primary">Donate Now</a></div>
            </div>
      </div>
    </div>
    </div>
  </body>
  {% endblock content %}
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock footer %}
</html>
